.banner_wrapper {
  display: flex;
  width: 100%;
  padding: 100px 0 125px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #f9f5ff,
    #FFD8CC,
    #FBC4BF,
    #FFB8BF,
    #FB928E
  );
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.banner_wrapper .banner-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #de1670;
}
.banner_wrapper .banner-title {
  font-weight: 800;
  font-size: 60px;
  text-transform: capitalize;
  line-height: 1.15;
  margin-bottom: 25px;
  color: #101010;
}
.banner_wrapper .banner-title span {
  color: #de1670;
}
.banner_wrapper .banner-title-text {
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 450px;
  color: rgb(84, 84, 84);
}
.banner_wrapper .learn-more-btn-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
.banner_wrapper .header-img-section img {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (max-width: 1230px) {
  .banner_wrapper .banner-title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .banner_wrapper {
    padding: 100px 0 100px;
  }
  .banner_wrapper .row {
    flex-direction: column-reverse;
  }
  .banner_wrapper .learn-more-btn-section {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .banner_wrapper .banner-title {
    font-size: 36px;
  }
}

.shape-fill {
  fill: #FB928E;
  padding: 0 !important;
  margin-top: -1px !important;
}

@media (max-width: 500px) {
  .shape-fill {
    display: none;
  }
}
.col-md-6{
  border : 1px solid rgb(246, 88, 162);
  border-radius: 30px;
  height : 550px;
  width : 600px;
  margin : 20px;
  padding : 40px;
  box-shadow: rgb(222, 22, 112,0.8) 0px 3px 8px;
}
.flip-card {
  width: 600px;
  height: 550px;
  border: 1px solid rgb(246, 88, 162);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-image: linear-gradient(
    to bottom,
    #f9d4d1,
    #FFB8BF,
    #FB928E
  ) ;
  border-radius: 30px;
  color: white;
  transform: rotateY(180deg);
  padding:20px;
}